@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 100px;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  background-image: url(../img/bj2.jpg);
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

#header {
  width: 100%;
  height: 1.4rem;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

#header .left {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0.3rem;
  top: 0.4rem;
  z-index: 2;
}

#header .left img {
  width: 100%;
}

#header .right {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0.3rem;
  top: 0.4rem;
  z-index: 2;
}

#header .right img {
  width: 100%;
}

#header #gequ {
  position: absolute;
  top: 0.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 5rem;
  height: 0.8rem;
}

#header #gequ span {
  font-size: 16px;
  color: #fff;
  font-family: '黑体';
}

#header #gequ .span {
  font-size: 14px;
  color: #888;
  font-family: '黑体';
}

#geci {
  width: 100%;
  height: 6rem;
}

#quan {
  position: absolute;
  top: 2.6rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background-image: url(../img/55.jpg);
  background-size: cover;
  animation: move 20s linear  infinite;
  z-index: 2;
  overflow: hidden;
}

#quan img {
  width: 100%;
}

@keyframes move {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#play {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 30px;
  left: 0px;
  right: 0;
  margin: 0 auto;
  color: #fff;
  line-height: 30px;
  border-radius: 50%;
  background-image: url(../img/b1.jpg);
  background-size: 100%;
  z-index: 1;
  overflow: hidden;
}

#play img {
  width: 100%;
}

#previous {
  position: absolute;
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 35px;
  right: 90px;
  border-radius: 50%;
  background-image: url(../img/y2.jpg);
  background-size: 100%;
  z-index: 1;
  overflow: hidden;
}

#previous img {
  width: 100%;
}

#next {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 35px;
  left: 90px;
  border-radius: 50%;
  background-image: url(../img/y1.jpg);
  background-size: 100%;
  z-index: 1;
  overflow: hidden;
}

#next img {
  width: 100%;
}

#progress {
  position: absolute;
  z-index: 1;
  width: 5rem;
  height: 0.1rem;
  background: #888;
  bottom: 2.5rem;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#current-time {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 10px;
  color: #fff;
}

#duration {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 10px;
  color: #fff;
}

#xiex {
  position: absolute;
  top: 7px;
  left: 28px;
  color: #fff;
}

#p-i {
  position: absolute;
  width: 1px;
  height: 5px;
  /*border-radius: 50%;*/
  background: #D84C29;
  top: 0px;
  left: 0;
}

#pii {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  top: -5px;
  left: 0;
}

#xinjia {
  position: absolute;
  bottom: 2.7rem;
  left: 0;
  right: 0;
  width: 80%;
  height: 1rem;
  margin: 0 auto;
}

#xinjia .tp {
  margin-top: 5px;
  margin-left: 25px;
  width: 15%;
  height: 0.5rem;
  float: left;
}

#xinjia img {
  text-align: center;
  width: 70%;
}

#yinliang {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 60%;
  height: 0.1rem;
  background: #888;
}

#yinliang #r {
  position: absolute;
  background: #fff;
  border-radius: 50%;
  right: 0px;
  top: -0.15rem;
  width: 20px;
  height: 20px;
}

#jin {
  position: absolute;
  top: 1.5rem;
  left: 30px;
  width: 20px;
  height: 17px;
  z-index: 2;
  background-image: url(../img/yl3.png);
  background-size: 100%;
}

#bottom-left {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0.8rem;
  left: 0.4rem;
}

#bottom-left img {
  width: 100%;
}

#bottom-right {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 0.8rem;
  right: 0.4rem;
}

#bottom-right img {
  width: 100%;
}

#right-chu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0rem;
  background: #fff;
  z-index: 5;
  display: block;
  display: none;
}

#right-chu .top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #888;
}

#right-chu .top .sc {
  text-align: center;
  width: 33%;
  float: left;
  color: #888;
}

#right-chu .top .bf {
  text-align: center;
  width: 33%;
  float: left;
}

#right-chu .top .qk {
  text-align: center;
  width: 33%;
  float: left;
  color: #888;
}

#right-chu #gb {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 20px;
  background: #888;
  z-index: 5;
  color: #fff;
}

#right-chu #uls {
  position: absolute;
  top: 50px;
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#right-chu #uls li {
  display: block;
  width: 100%;
  margin-top: 30px;
  height: 30px;
  cursor: pointer;
  line-height: 30px;
  border-bottom: 1px solid #888;
}

#right-chu #uls .active span {
  color: red;
  font-family: '黑体';
}

#right-chu #uls li span {
  width: 100%;
  line-height: 16px;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 15px;
  color: #000000;
}
